@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.eot');
    src: url($font-file + '.eot?#iefix') format('embedded-opentype'),
    url($font-file + '.woff') format('woff'),
    url($font-file + '.ttf') format('truetype'),
    url($font-file + '.svg#aller') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
@include font('RewirLight', '../font/Rewir-Light');

$main-color: #e7ba23;
$main-dark-color: #D4A823;

$font-family-base: 'RewirLight', 'Roboto';


$background-color: $main-color;
$primary: $main-color;

@import "../lib/bootstrap/scss/bootstrap";

.table th {
  border-top: none;
}

.offer-table {
  @extend .table-sm;

  th {
    padding: 0;
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  &.yellow {
    background-color: $background-color;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  }
}

.big-logo {
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.3));
  transition: 250ms ease;
  width: 80%;
  max-height: 50vh;
  height: 300px;

  &:hover {
    filter: drop-shadow(0 10px 16px rgba(0, 0, 0, 0.3));
    transform: scale(1.1) rotate(-1deg);
  }
}

.navbar {
  background: transparent;
  font-size: 1.1rem;
}

.navbar-toggler {
  border: none;
}

.bike-card {
  @extend .col-12, .col-md-6, .col-lg-4, .p-3;
}

.no-image {
  display: block;
  margin: auto;
}

.list-inline-horizontal {
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  text-align: center;
  position: relative;
  width: 100%;
}

.list-inline-horizontal-item {
  display: inline-block;
  position: relative;
  flex: 1 1 auto;
  border: 1px solid $border-color;
  border-left: none;
  &:first-child {
    border-left: 1px solid $border-color;
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

header {
  flex-shrink: 0;
}