.grid {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  width: 45%;
  //height: 100px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
  &.muuri-item-dragging {
    z-index: 3;
  }
  &.muuri-item-releasing {
    z-index: 2;
  }
  &.muuri-item-hidden {
    z-index: 0;
  }
  img {
    width: 100%;
  }
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}