@import '../lib/@glidejs/glide/src/assets/sass/glide.core';
@import '../lib/@glidejs/glide/src/assets/sass/glide.theme';

.navbar-brand {
  margin: auto;
}

nav {
  margin-bottom: 4px;
}

.table-filter-form {
  margin-bottom: 4px;
}

.fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0;
  z-index: 2;

  &.btn-lg {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
  }
  &.btn-sm {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
  }
}

.w-280 {
  width: 280px;
}

.grid-item {
  margin-bottom: 4px;
}

.delete-o:hover {
  cursor: pointer;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  max-width: 960px;
  margin-top: -64px;
}

.glide__arrow {
  border: none;
}

main {
  & > .container {
    margin-bottom: 1rem;
  }
}

h4[aria-expanded=true] .arrow-right {
  display: none;
}

h4[aria-expanded=false] .arrow-down {
  display: none;
}

[data-toggle='collapse'] {
  cursor: pointer;
}