<div class="btn-group btn-group-toggle form-group w-100" data-toggle="buttons">
    <label class="btn btn-outline-primary {{ yes }}">
        <input type="radio" name="{{ name }}" value="on" autocomplete="off" {% if yes == 'active' %}checked{% endif %}> {{ yes_text }}
    </label>
    <label class="btn btn-outline-primary {{ no }}">
        <input type="radio" name="{{ name }}" value="" autocomplete="off" {% if no == 'active' %}checked{% endif %}> {{ no_text }}
    </label>
</div>