{% extends '_layout.html' %}
{% load django_tables2 crispy_forms_tags thumbnail %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6" style="margin-bottom: 12px">
        {% crispy form %}
        </div>
        <div class="col-12 col-md-6">
            {% crispy images_form %}
            <div class="grid">
                {% for image in images %}
                <div class="item" data-id="{{ image.pk }}">
                    <div class="item-content">
                        <img src="{{ image.photo|thumbnail_url:'edit_form' }}">
                        <div class="card-img-overlay">
                            <button class="btn btn-primary btn-lg fab shadow delete-bp"><i class="material-icons align-middle">delete</i></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 row">
            <div class="col-4">
            {% crispy offer_form %}
            </div>
            <div class="col-8">
                <div class="table-responsive">
                {% render_table offers %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function(){
            let grid = new Muuri('.grid', {
                dragEnabled: true,
                layout: {
                    fillGaps: true,
                },
                dragStartPredicate: function (item, e) {
                    return !$(e.target).hasClass('btn');

                }
            });
            window.addEventListener('load', function () {
              grid.refreshItems().layout();
            });
            grid.on('dragEnd', function() {
                const newOrder = $.map(grid.getItems(), function(i) {
                    return $(i._element).data('id');
                });
                $.ajax({
                    type: 'POST',
                    url: '{% url 'update_image_positions' %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        items: newOrder
                    },
                    success: function(e) {
                        console.log(e);
                    }
                });
            });
            $('.delete-bp').on('click', function() {
                const button = $(this);
                const id = button.parents('.item').data('id');
                $.ajax({
                    type: 'POST',
                    url: '{% url 'delete_image' %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        id: id
                    },
                    success: function(e) {
                        grid.remove(button.parents('.item')[0]);
                        $(button.parents('.item')[0]).remove();
                    }
                });
            });
            $('.delete-o').on('click', function() {
                const button = $(this);
                const id = button.data('id');
                const parent_tr = button.parents('tr');
                $.ajax({
                    type: 'POST',
                    url: '{% url 'delete_offer' %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        id: id
                    },
                    success: function(e) {
                        $(parent_tr).remove();
                    }
                });
            });
            $('#id_bike_parameters').change(function(){
                let id = this.value;
                if (id === '') {
                    return;
                }
                $.ajax({
                    url: '{% url 'get_bike_parameters' %}',
                    method: 'GET',
                    data: { pk: id },
                    success: function(e) {
                        console.log(e);
                    }
                });
            });
        });
    </script>
{% endblock %}