{% extends '_layout.html' %}
{% load django_tables2 crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% if filter %}
            {% crispy filter.form %}
        {% endif %}
        <div class="table-responsive">
            {% render_table table %}
        </div>
    </div>
    {% if new %}
        <a href="{{ new }}">
            <button class="btn btn-primary btn-lg fab shadow"><i class="material-icons align-middle">add</i></button>
        </a>
    {% endif %}
{% endblock %}