{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#D4A823" />
    <title>Weź se moto - {{ title_appendix }}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/brand.scss' %}"/>
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/grid.scss' %}"/>
    {% endcompress %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="{% if active_nav == 'index' %}yellow{% endif %}">
<header>
    <nav class="navbar navbar-expand-lg bg-primary navbar-light shadow">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if active_nav == 'index' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'index' %}">Strona główna <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if active_nav == 'motorcycle_list' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'bike_list' %}">Motocykle <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_users' %}">Admin użytkownicy <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_bikes' %}">Admin motocykle <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_bike_parameters' %}">Admin parametry <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main">

{% block content %}{% endblock %}
</main>
<footer class="footer navbar bg-dark" id="footer">
    <div class="container">
        <span class="text-white-50">Marek Czaplicki @ 2018</span>
    </div>
</footer>
{% compress js %}
    <script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/hammerjs/hammer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/muuri/dist/muuri.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/@glidejs/glide/dist/glide.min.js' %}"></script>
    {% block script %}{% endblock %}
{% endcompress %}
</body>
</html>