{% extends '_layout.html' %}
{% load static thumbnail crispy_forms_tags i18n %}
{% block content %}
    <div class="container">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                    {% for photo in bike.bikephoto_set.all %}
                        <img class="glide__slide" src="{% get_media_prefix %}{{ photo.photo }}" alt="Zdjęcie">
                    {% endfor %}
                </div>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><span class="carousel-control-prev-icon" aria-hidden="true" ></span></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><span class="carousel-control-next-icon" aria-hidden="true" ></span></button>

            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <h1>{{ bike.brand }} {{ bike.model }}</h1>
            </div>
            <div class="col-12 col-md-9">
                <div class="col-12 p-0 p-md-3">
                    <h5>{{ bike.description }}</h5>
                </div>
                <div class="col-12 p-0 p-md-3">
                    <h4 class="text-muted" data-toggle="collapse" data-target="#collapse_offers" aria-expanded="true">
                        <i class="material-icons align-middle arrow-down">arrow_drop_down</i>
                        <i class="material-icons align-middle arrow-right">arrow_right</i>
                        {% trans 'Cennik' %}
                    </h4>
                    <div class="collapse show" id="collapse_offers">
                        <ul class="list-inline-horizontal shadow">
                            {% for offer in bike.bikeoffer_set.all %}
                                <li class="list-inline-horizontal-item">
                                    <div class="bg-primary py-4">
                                        <span class="font-weight-bold h2">{{ offer.price }} zł</span>
                                    </div>
                                    <div class="p-1">
                                        <h6 class="my-0 text-muted">{{ offer.duration }}</h6>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 p-0 p-md-3">
                    <h4 class="text-muted" data-toggle="collapse" data-target="#collapse_contact" aria-expanded="true">
                        <i class="material-icons align-middle arrow-down">arrow_drop_down</i>
                        <i class="material-icons align-middle arrow-right">arrow_right</i>
                        {% trans 'Skontaktuj się' %}
                    </h4>
                    <div class="card shadow collapse show" id="collapse_contact">
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <h4 class="text-muted" data-toggle="collapse" data-target="#collapse_parameters" aria-expanded="true">
                    <i class="material-icons align-middle arrow-down">arrow_drop_down</i>
                    <i class="material-icons align-middle arrow-right">arrow_right</i>
                    {% trans 'Parametry' %}
                </h4>
                <div class="collapse show" id="collapse_parameters">
                    <ul class="list-group shadow">
                        <li class="list-group-item">
                            <div>
                                <h6 class="my-0">{% trans "Pojemność" %}</h6>
                            </div>
                            <span class="text-muted">{{ bike.bike_parameters.capacity }}</span>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <h6 class="my-0">{% trans "Moc maksymalna" %}</h6>
                            </div>
                            <span class="text-muted">{{ bike.bike_parameters.power }}</span>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <h6 class="my-0">{% trans "Moment obrotowy" %}</h6>
                            </div>
                            <span class="text-muted">{{ bike.bike_parameters.torque }}</span>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <h6 class="my-0">{% trans "Pojemność baku" %}</h6>
                            </div>
                            <span class="text-muted">{{ bike.bike_parameters.tank_capacity }}</span>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <h6 class="my-0">{% trans "Wysokość siedzenia" %}</h6>
                            </div>
                            <span class="text-muted">{{ bike.bike_parameters.seat_height }}</span>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <h6 class="my-0">{% trans "Dodatkowe wyposażenie" %}</h6>
                            </div>
                            <span class="text-muted">{{ bike.bike_parameters.extra }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            let glide = new Glide('.glide', {
                type: 'carousel',
                perView: 1,
                focusAt: 'center',
                peek: {
                    before: 100,
                    after: 100
                },
                breakpoints: {
                    992: {
                        peek: {
                            before: 0,
                            after: 0
                        }
                    },
                    1200: {
                        peek: {
                            before: 50,
                            after: 50
                        }
                    }
                }
            });
            glide.mount();
        })
    </script>
{% endblock %}