{% extends '_layout.html' %}
{% load static thumbnail %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
        {% for bike in object_list %}
            <div class="bike-card">
                <div class="card">
                    {% if bike.bikephoto_set.all %}
                        <div class="carousel slide" data-ride="carousel" id="carousel_{{ bike.id }}">
                            <ol class="carousel-indicators">
                                {% for photo in bike.bikephoto_set.all %}
                                    <li data-target="#carousel_{{ bike.id }}" data-slide-to="{{ forloop.counter0 }}"
                                        class="{% if forloop.counter0 is 0 %}active{% endif %}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                            {% for photo in bike.bikephoto_set.all %}
                                <div class="carousel-item {% if forloop.counter0 is 0 %}active{% endif %}">
                                    <img src="{{ photo.photo|thumbnail_url:'bike_card' }}"
                                         alt="Zdjęcie motocykla"
                                         class="card-img-top">
                                </div>
                            {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carousel_{{ bike.id }}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel_{{ bike.id }}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% else %}
                        <object class="no-image" data="{% static "img/no_image.svg" %}"></object>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ bike.name }}</h5>
                        <p class="card-text">{{ bike.short_description }}</p>
                        <a class="btn btn-primary" href="{% url 'bike_details' bike.id bike.slug %}">Więcej</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}