{% extends '_layout.html' %}
{% load static %}
{% block content %}
    <div class="center-screen mx-auto">
        <img class="big-logo" src="{% static '/img/logo.svg' %}">
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('footer').addClass('d-none');
        });
    </script>
{% endblock %}